/* FONDO */
.background__head__banner {
  background-color: #2c3e50;
  padding: 0;
  overflow: hidden;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CABECERA */
.head {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: #34495e;
}

/* CONTENEDOR FLEXIBLE */
.head__container {
  max-width: 1200px;
  width: 100%;
  height: 80px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 0 1.5rem;
}

/* LOGO A LA IZQUIERDA */
.logo_JF7 .logo__img {
  height: 48px;
  transform: scale(4);
  transform-origin: left center;
  margin-top: -6px;
  margin-bottom: -6px;
}


/* MENÚ CENTRADO */
.head__nav {
  display: flex;
  justify-content: center;
  gap: 1.4rem;
  list-style: none;
}

.head__list {
  color: #ecf0f1;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease;
}

.head__list:hover {
  color: #8dc853;
  transform: scale(1.05);
}

/* ICONOS Y BOTÓN A LA DERECHA */
.header__right {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

/* REDES */
.social-icons {
  display: flex;
  gap: 0.6rem;
  transform: scale(1.2);
}

.social-icon img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}

.social-icon:hover img {
  transform: scale(1.15);
}

/* OCULTAR CANBECERA */
.head {
  transition: transform 0.3s ease-in-out;
}

/* BOTÓN HAMBURGUESA */
.toggle-button {
  display: none;
  background: transparent;
  border: none;
  font-size: 1.2rem;
  color: #f4f5f3;
  cursor: pointer;
}

.toggle-button:hover i {
  transform: rotate(180deg);
}

.toggle-button i {
  transition: transform 0.3s ease;
}

/* RESPONSIVE MOVIL */
@media (max-width: 768px) {
  .logo__img {
    transform: scale(1.4);
  }

  .head__nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    background-color: #2c3e50;
    width: 100%;
    padding: 1rem 0;
    z-index: 999;
  }

  .head__nav.active {
    display: flex;
  }

  .toggle-button {
    display: block;
  }

  .header__right {
    gap: 0.6rem;
  }
}

/* AJUSTE POR HEADER FIJO */
main {
  padding-top: 80px;
}

/* ANIMACIÓN */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
