.contactame {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f9f9f9; /* Fondo claro para que destaque el contenido */
}

.contactame__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 2rem;
  background: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px; /* Limita el ancho máximo para una mejor apariencia */
}

.contactame__contenido__title {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  color: #464646;
  margin-bottom: 2rem;
}

.input-container,
.textarea-container {
  position: relative;
  margin-bottom: 1.5rem;
  width: 100%;
}

.input,
.textarea {
  width: 100%;
  padding: 1rem;
  border: 2px solid #8dc855;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s;
}

.input:focus,
.textarea:focus {
  border-color: #6ba73c;
}

.input-label,
.textarea-label {
  position: absolute;
  top: 0.8rem;
  left: 1rem;
  font-size: 1rem;
  transition: 0.3s;
  color: #aaa;
}

.input:focus + .input-label,
.input:not(:placeholder-shown) + .input-label,
.textarea:focus + .textarea-label,
.textarea:not(:placeholder-shown) + .textarea-label {
  top: -1rem;
  left: 0.8rem;
  font-size: 0.8rem;
  color: #6ba73c;
}

.btn__enviar {
  text-align: center;
}

.btn {
  background-color: #8dc855;
  color: white;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #6ba73c;
}

.contactame__redes {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 2rem;
}

.redes-icon {
  font-size: 2rem;
  color: white;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.redes-icon.instagram {
  background-color: #e1306c;
}

.redes-icon.instagram:hover {
  background-color: #c72560;
}

.redes-icon.linkedin {
  background-color: #0077b5;
}

.redes-icon.linkedin:hover {
  background-color: #005983;
}

.redes-icon.github {
  background-color: #333;
}

.redes-icon.github:hover {
  background-color: #555;
}



