.contactame__propiedades {
  padding: 7rem 5rem;
}

.contactame__container {
  margin: 0; /* Ajuste del margen en lugar de gap */
  line-height: 1.3;
  text-align: right; /* Alineación a la derecha */
}

.contactame__img {
  border-radius: 6px;
}

.contactame__contenido__title {
  font-size: 1.4rem;
  font-weight: bold;
}

.formulario {
  margin-top: 2rem;
}

.form__label {
  font-size: 22px;
  margin-bottom: 1rem;
}

.input-container {
  font-weight: 200;
  position: relative;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
}

.input {
  box-sizing: border-box;
  border: 1px solid rgb(141, 200, 85); /* Ajuste del borde */
  padding: 0.5rem; /* Ajuste del relleno */
  height: 3.25rem;
  width: 100%;
}

.input::placeholder {
  visibility: hidden;
  color: #00000000;
}

.input:focus {
  outline: none;
}

.input-label {
  position: absolute;
  top: 1.375rem;
  left: 0.5rem;
  font-size: 20px;
  transition: all 0.25s;
}

.input:not(:placeholder-shown) + .input-label,
.input:focus + .input-label {
  font-size: 0.875rem;
  top: 0.25rem;
  transition: all 0.25s;
}

.input-container--invalid {
  margin-bottom: 0.5rem;
}

.input-container--invalid .input {
  border: 1px solid rgb(219, 36, 36);
  border-radius: 7px;
}

.input-container--invalid .input-label {
  color: rgb(219, 36, 36);
}

.input-message-error {
  display: none;
}

.input-container--invalid .input-message-error {
  color: rgb(219, 36, 36);
  display: block;
  margin-top: 0.5rem;
  padding-left: 0.5rem;
}

.textarea-container--invalid {
  margin-bottom: 0.5rem;
}

.textarea-container--invalid .textarea {
  border: 1px solid rgb(219, 36, 36);
}

.textarea-container--invalid .textarea-label {
  color: rgb(219, 36, 36);
}

.textarea-message-error {
  display: none;
}

.textarea-container--invalid .textarea-message-error {
  display: block;
  color: rgb(219, 36, 36);
  margin-top: 0.5rem;
  padding-left: 0.5rem;
}

.textarea {
  box-sizing: border-box;
  border: 1px solid rgb(141, 200, 85);
  padding: 0.5rem;
  border-radius: 7px;
  width: 100%;
  min-height: 3rem;
}

.textarea-container {
  position: relative;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: 300;
}

.textarea::placeholder {
  visibility: hidden;
}

.textarea:focus {
  outline: none;
}

.textarea-label {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  font-size: 20px;
  transition: all 0.25s;
}

.textarea:not(:placeholder-shown) + .textarea-label,
.textarea:focus + .textarea-label {
  font-size: 0.875rem;
  top: -1.25rem;
  transition: all 0.25s;
}
