.experiencia__title {
    font-size: 2.5rem;
    text-align: center;
    padding-bottom: 7rem;
    font-weight: bold;
    color: #464646;
}

/* Contenedor de las imágenes */
.experiencia__container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra todas las filas */
    gap: 3rem; /* Espaciado entre las filas */
    padding-bottom: 7rem;
}


/* Fila de imágenes */
.experiencia__row {
    display: flex;
    justify-content: center; /* Centra las imágenes dentro de cada fila */
    gap: 2rem; /* Espaciado entre imágenes */
    width: 100%; /* Asegura que las filas se expandan */
    max-width: 1200px; /* Limita el ancho total para centrado visual */
}

/* Estilo general de las imágenes */
.experiencia__container__img {
    width: calc(30% - 1rem); /* Ajusta el ancho para incluir el espacio del gap */
    height: auto;
    border-radius: 10px;
    box-shadow: 12px 18px 34px 1px #464646;
    transition: transform 0.3s ease-in-out, opacity 2s ease-in-out;
    transform-origin: center center;
    opacity: 0; /* Inicialmente invisibles */
    transform: scale(0.8); /* Reducimos el tamaño al principio */
}

/* Efecto de expansión y aparición de las imágenes */
.experiencia__container__img.visible {
    opacity: 1; /* La imagen se vuelve visible */
    transform: scale(1); /* La imagen vuelve a su tamaño original */
}

/* Efecto de expansión en hover */
.experiencia__container__img:hover {
    transform: scale(2.0); /* La imagen se agranda */
    z-index: 2;
    opacity: 1;
}

/* Efecto de desplazamiento */
.experiencia__container__img:first-child:hover {
    transform: scale(2.0) translateX(20%); /* La imagen de la izquierda se expande hacia la derecha */
}

.experiencia__container__img:last-child:hover {
    transform: scale(2.0) translateX(-20%); /* La imagen de la derecha se expande hacia la izquierda */
}

/* Animaciones AOS */
[data-aos="zoom-in"] {
    animation: zoomIn 2s ease-out; /* Hacer la animación más lenta */
    opacity: 1 !important;
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Estilo responsive para móviles */
@media (max-width: 768px) {
    .experiencia__row {
        flex-direction: column; /* Cambia las imágenes a columna en pantallas pequeñas */
        align-items: center;
    }

    .experiencia__container__img {
        width: 80%; /* Reduce el tamaño de las imágenes en pantallas pequeñas */
    }
}

