@media screen and (max-width: 1024px) {
    /*-------diplomas y cursos------*/
    .curso__img{
    width: 200px;
}
    /*--------contactame--------*/
.contactame__img{
   display: none;
}
.contactame__container {
    gap: 0;
    line-height: 1.3;
    align-items: center;
    justify-content: center;
}
.contactame__contenido{
    width: 100%;
}
}
@media screen and (max-width: 990px) {
/*------head-------*/
.head__nav__tablet{
    display: block;
}
.head__nav{
    display: none;
}
/*------banner-------*/
.banner__descripcion h1{
font-size: 1.5rem;
line-height: 1;
}
.banner__fondo__img{
    width: 150px;
    height: 150px;
}
.banner__descripcion__img{
    width: 146px;
    height: 146px;
}
.banner__descripcion {
    width: auto;
    gap: 1rem;
}
.banner__descripcion__nav {
    justify-content: space-around;
}

/*------sobre mi-------*/
.sobre-mi{
}
.sobre-mi__descripcion {
    width: 100%;
}
mi__descripcion__nav {
    width: 100%;
}

/*------skills and hobbies-------*/
.skills__hobbies{
    padding-top: 0rem;
}
.skills{
    display: flex;
    flex-direction: column;
}
.skills__nav{
    flex-wrap: wrap;
}
.skills__list{
    width: 50%;
    padding-bottom: 4rem;
}
.hobbies {
    padding: 0;
}
.hobbies__nav{
    flex-wrap: wrap;
}
.hobbies__list{
    width: 30%;
    padding-bottom: 4rem;
}
/*------proyectos-------*/
.experiencia{
    padding: 3rem 0;
}
.btn__container{
    display: flex;
}
/*------formacion-------*/
.formacion__container {
    flex-direction: column;
    padding-top: 0;
}
.curso{
    gap: 1rem;
}
.curso__title{
    font-size: 1rem;
}
}
@media screen and (max-width: 767px){
/*-------head------*/
.head__propiedades{
    padding: 0 1rem;
}
.head__yo{
    display: flex;
    align-items: center;
    font-size:.8rem;
    gap: 0.1rem;
}
.head__nav__tablet{
    display: flex;
    align-items: center;
}
.fa-brands, .fab {
    font-size: .8rem;
}
.head .container b {
    font-size: .8rem;
}
/*------banner-------*/
.banner__propiedades{
    flex-direction: column-reverse;
    gap: 1rem;
    padding: 0 1rem;
}
.banner__fondo__img{
    width: 98px;
    height: 98px;
}
.banner__descripcion__img{
    width: 98px;
    height: 98px;
}
/*------sobre-mi-------*/
.sobre-mi__propiedades{
    margin: 1rem 0;
    padding: 0 1rem;
}
.sobre-mi__descripcion{
    padding: 3rem 0;
}
.sobre-mi__descripcion p{
line-height: 1;
text-align: justify;
font-size: 0.8rem;
}
/*------hobbies-skills-------*/
.skills-hobies__propiedades{
    padding: 0 1rem;
}
.skills h1{
    padding-bottom: 3rem;
}
.skills__list {
    padding-bottom: 2rem;
}
.skills__list i {
    font-size: 2.5rem;
}
.hobbies{
    padding-bottom: 0;
}
.hobbies h1{
    padding-bottom: 2rem;
}
.hobbies__list{
    width: 50%;
    padding-bottom: 2rem;
}
.hobbies__list i{
    font-size: 2rem;
}
/*------experiencia-------*/
.experiencia__porpiedades{
    padding: 0 1rem;
}
.experiencia__title{
    margin-bottom: 2rem;
}
.experiencia__container , .invert{
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 3rem;
}
.experiencia__container__img, .invert .experiencia__container__img {
    width: 75vw;
    box-shadow: 8px 8px 37px 1px #464646;
}
.experiencia__contenido{
    align-items: center;
}
.btn__container{
display: flex;
gap: 1rem;
}
.btn{
    padding: 1rem;
    margin-right: 0;
}
/*------formacion-------*/
.formacion__propiedades{
    padding: 0 1rem;
}
.formacion__escuelas{
    padding-top: 2rem;
    flex-direction: column;
    align-items: center;
}

/*------formacion modulos-------*/

.formacion__modulos__titulo {
    font-size: 1.5rem;
    margin-bottom: 0rem;
}
section.formacion_modulos {
    padding: 3rem 2rem;
}
img.formacion__modulos__img {
    width: 100%;
}

.formacion__modulos__container__img.container {
    flex-direction: column;
    gap: 2rem;
}
p.formacion__modulos__descripcion-2 {
    font-size: 1rem;
}

/*------cursos-------*/
.cursos__propiedades{
    padding: 0 1rem;
}
.curso__grupo{
    flex-direction: column;
    align-items: center;
}
.formacion__escuela{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.escuela__platzi img{
    width: 243.19px;
    height: 77.16px;
}
.diplomas_curos {
    padding: 3rem 0;
}
.curso__title{
    font-size: .8rem;
    padding: 0;
}
.curso{
    width: 100%;
}
/*------contactame-------*/
.contactame__propiedades{
    padding: 0 1rem;
}
.contactame {
    padding: 0 0 2rem;
}
/*------footer-------*/
.footer{
    padding: 2rem 0;
    border-top: 1px solid #464646;
}

}