/* Skills y Hobbies Fondo */
.skills-hobbies {
    background-color: #f4f4f4; /* Conservando el fondo anterior */
    padding: 5rem 2rem;
    position: relative;
    overflow: hidden;
}

/* Encabezados con Animación */
.skills__title, .hobbies__title {
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 3rem;
    text-transform: uppercase;
    color: #464646;
    letter-spacing: 3px;
    position: relative;
    overflow: hidden;
}

.skills__title::after, .hobbies__title::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background: #4ade80;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.5s ease-in-out;
}

.skills__title:hover::after, .hobbies__title:hover::after {
    width: 100%;
}

/* Lista de Skills */
.skills__nav {
    display: flex;
    flex-direction: column; /* Vertical para Skills */
    align-items: center;
    gap: 2.5rem; /* Mayor separación entre Skills */
}

.skills__list {
    text-align: center;
    font-size: 1.5rem; /* Tamaño más grande */
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0; /* Inicialmente ocultos */
}

.skills__list:hover {
    transform: translateY(-10px);
}

.skills__list i {
    font-size: 3.5rem; /* Iconos más grandes */
    color: #8dc855;
    margin-bottom: 1rem;
    transition: transform 0.3s ease, color 0.3s ease;
}

.skills__list:hover i {
    color: #f97316;
    transform: scale(1.2);
}

.skills__list p {
    font-size: 1.2rem; /* Texto más grande */
    font-weight: 500;
    color: #464646;
}

/* Lista de Hobbies */
.hobbies__nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas por fila */
    gap: 2rem; /* Separación entre Hobbies */
    justify-items: center;
    align-items: center;
}

.hobbies__list {
    text-align: center;
    font-size: 1.5rem; /* Tamaño más grande */
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0; /* Inicialmente ocultos */
}

.hobbies__list:hover {
    transform: translateY(-10px);
}

.hobbies__list i {
    font-size: 3.5rem; /* Iconos más grandes */
    color: #8dc855;
    margin-bottom: 1rem;
    transition: transform 0.3s ease, color 0.3s ease;
}

.hobbies__list:hover i {
    color: #f97316;
    transform: scale(1.2);
}

.hobbies__list p {
    font-size: 1.2rem; /* Texto más grande */
    font-weight: 500;
    color: #464646;
}

/* Responsividad para pantallas pequeñas */
@media (max-width: 768px) {
    /* Hobbies: Mostrar en dos filas de tres */
    .hobbies__nav {
        grid-template-columns: repeat(2, 1fr); /* Dos columnas en pantallas pequeñas */
    }
    
    .skills__list i, .hobbies__list i {
        font-size: 3rem; /* Ajustar tamaño de iconos */
    }

    .skills__list p, .hobbies__list p {
        font-size: 1rem; /* Ajustar tamaño del texto */
    }
}
