/* Sobre mí */
.sobre-mi__propiedades {
    padding: 7rem 10rem; /* Aumentamos el espacio en los márgenes laterales */
    margin-top: 0;
    margin-bottom: -8rem;
}

.sobre-mi__descripcion {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    text-align: center; /* Centra el texto */
    margin: 0 auto; /* Centra el bloque de texto */
}

.sobre-mi__descripcion h1 {
    font-size: 3.5rem;
    font-weight: bold;
    color: #464646;
}

.sobre-mi__descripcion b {
    color: #464646;
    font-weight: bold;
}

.sobre-mi__descripcion__nav {
    width: 30%;
    gap: 2rem;
    flex-wrap: wrap;
}

.sobre-mi__descripcion__nav b {
    color: rgb(141, 200, 85);
}

.sobre-mi__descripcion p {
    line-height: 18.78px;
    margin: 0 auto; /* Centra el párrafo */
    max-width: 900px; /* Limita el ancho máximo del texto para evitar que se vea demasiado largo */
}

/* Enlaces destacados */
.link b {
    color: rgb(141, 200, 85); /* Color verde */
}

/* Animación para MUNDOJUAN */
.mundojuan-link {
    color: #8dc853;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    font-size: 1.2rem;
    padding: 0.3rem;
    border-radius: 5px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.mundojuan-link:hover {
    color: #5d9f4a;
    transform: scale(1.1);
}

.mundojuan-link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #8dc853;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.mundojuan-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

